



@media screen and (min-width:426px) {
    #partOne img{
        width: 60%;
    }
    #partTwo{
        background-size: contain;
        background-size: 900px;
        height: 380px;
        background-image: url(../Assets/Group112x.png);
        margin: 0 auto;
    }
    #partTwo p{
        font-size: 18px;
    }
    #ourProjects img {
        max-width: 600px;
    }
    .theTeam{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
}

@media screen and (min-width:630px) {
    .twoInOne{
        flex-direction: row;
    }
   
}

@media screen and (max-width:768px) {
    .twoInOne{
        flex-direction: column;
    }
  
}
@media screen and (min-width: 769px) {
    .twoInOne{
        flex-direction: row;
    }
    .secondHalf{
        width: 50%;
    }
    .vmieo{
        width: 500px;
    }
}
