



@media screen and (max-width:768px) {
    .twoInOne{
        flex-direction: column;
    }
  
}
@media screen and (min-width:426px) {
  
    #partTwo{
        margin: 0 auto;
    }
   
    #ourProjects img {
        max-width: 600px;
        
    }
    .theTeam{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
}

@media screen and (min-width:630px) {
    .twoInOne{
        flex-direction: row;
    }
   
}


@media screen and (min-width: 769px) {
    .twoInOne{
        flex-direction: row;
    }
    .secondHalf{
        width: 50%;
    }
    .vmieo{
        width: 500px;
    }
}

@media screen and (min-width: 1024px){
   
    
}