* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #ffff;
    color:black;
    font-family: 'Montserrat', sans-serif;
}

/*
color:#0037ff;
color: #9500ff;
*/
#mainContainer{
   min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: none;
    position: relative;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-image: url(../Assets/Asset1.png); 
    background-size: cover;
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 900;
    color: #ffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .mobileMenu{
      width: 50%;
      position: fixed;
      color: silver;
      z-index: 100;
    margin-left: 30px;
  }
  #partOne{
    box-sizing: border-box;
    animation: kenburns-top 5s ease-out both;
    overflow: hidden;
  }


@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 10% 16%;
            transform-origin: 10% 16%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(-35px);
            transform: scale(1.05) translateY(-35px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


  #partlOne, #partOne{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  .animatesss{
    width: 100%;
    box-sizing:border-box;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .colorBlue{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2357c775;
  }
  .logoQe{
    width: 220px;
position: absolute;
   z-index: 0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.letsGif{

  width: 100%;
  height: auto;
}

  .qualityEducation{
      color: white;
      font-weight: 800;
  }
  .stats{
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
  }
  #partTwo, #partTwo2{
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      text-align: center;
      color: white;
      position: relative;
      padding: 15px;
  }
 #partTwo h1, #partTwo h2, #partTwo p{
    color: white;
    z-index: 1;
  }
  #partTwo h1{
    margin-top: -290px;
  }
 
  #partTwo a{
    width: 280px;
    position: absolute;
    padding: 7px;
    color: white;
    background-color:#333333;
    font-size: 25px;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  #partTwo a:hover{
    opacity: 0.5;
    transform: scale(1.1); 
  }
  #partTwo img{
    max-width: 600px;
  }
  #ourProjects{
    width: 100%;
    max-height: 500px;
    box-sizing: border-box;
    color: white;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .purpleProject{
    max-width: 540px;
    width: 100%;
   
  }

  #ourProjects h2{
   width: 100%;
    margin-top: -130px;
    margin-left: 80px;
    text-align: left;
  }
  .projects{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Assets/globe.png) ;
    background-size: contain;
    background-repeat: repeat;
  }
  .twoInOne{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project{
    max-width: 450px;
    max-height: 460px;
    background-color: #3C93DB;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    transition: all .2s ease-in-out;
  }
  .project:hover{
    transform: scale(1.05);
  }
  .project img {
    border-radius: 12px;
  }
  .project h2{
    text-align: center;
    color: white;
  }
  #myProgress {
    width: 100%;
    border: solid 2px #2357C7;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
  }
  
  #myBar1 {
    width: 100%;
    height: 30px;
    background-color: #2357C7;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  #myBar2 {
    width: 3%;
    height: 30px;
    background-color: #2357C7;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  #myBar3 {
    width: 1%;
    height: 30px;
    background-color: #2357C7;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  #myBar4 {
    width: 25%;
    height: 30px;
    background-color: #2357C7;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .priceProgress{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;font-weight: 600;
  }
  .learnMore{
    text-decoration: none;
    text-align: center;
    width: 320px;
   color: white;
   font-weight: 700;
   font-size: 17px;
  }
  .learnMore:hover{
    color: #a9d1f1;
  }
  .aboutUs{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .designElement{
    margin-top: -50px;
    z-index: 2;
    
  }
  .people {
    z-index: 5;
    
  }

 
  
  .aboutUs p{
    padding: 15px;
    max-width: 650px;
  }
  .aboutUs h3{
    padding-top: 25px;
    text-align: center;
  }

  .footer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #3C93DB;
    color: white;
  }
  .container{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-group{
    padding: 15px;
  }
  .form-group input{
    padding: 10px;
    width: 220px;
    border: solid 2px #2357C7;
    border-radius: 12px;
  }
  .btn{
    width: 120px;
    padding: 5px;
    background-color: black;
    color: white;
  }
.iconic{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all .2s ease-in-out;
}
.iconic a{
  margin: 10px;
}
.iconic a:hover {
opacity: 0.5;
transform: scale(1.1);
}


  /* katoe */
 .katoe{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding: 20px;
 }

.blueLo, .orangeLo{
  max-width: 1524px;
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(190, 190, 190, 0.596);
  margin-left:200px;
}

.myText{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  font-size: 18x;
}
.myText p{
  max-width: 650px;
}


  .tops{
    margin: 0 auto;
  }
 
  .threeCont {
    margin-top: 20px;
    margin-bottom: 20px;
  }
 
  .groupS{
    max-width: 500px;
  }
  /**.threeContainers{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div2, .div3 {
    margin-top: -10px;
  }
  .headToe{
    width: 120px;
    margin-top: -163px;
    padding: 5px;
    z-index: 15;
    color: white;
  }
  .div1{
    z-index: 0;
  }
  .div3{
    z-index: -1;
  }
  .headToeTwo{
    margin-left: 190px;
  }**/
  .heather{
    margin-top: 20px;
   padding-left: 15px;
   margin-right: -40px;
  }
  .heather2{
    margin-top: -8px;
    margin-left:-35px;
  }
  .theTeam{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .member{
    max-width: 420px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .donAte{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    font-weight: 900;
  }
  .member p {
    max-width: 420px;
  }

  

  .box {
    width:70%;
    height:100px;
    background:#333333;
    margin:40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 900;
    box-sizing: border-box;
    padding: 15px;
  }
  /*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#projectsFour{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.secondHalf{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.videoWrapper {
  position: relative;
  padding-bottom: 57.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

/* animation testing */


/* DEMO-SPECIFIC STYLES */
.typewriter h1, .typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    mask-repeat: repeat;
    
}
.typewriter h1{
  font-size: 25px;
}
.typewriter h2{
  font-size: 20px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 153, 255); }
}
.parallax1{
  background-image: url(../Assets/a4a.png);
  height: 600px;
   background-size: cover;
   color: white;
   display: flex;
   justify-content: center;
   padding: 10px;
   margin-bottom: 20px;
}
.sideByside{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.kidWithBottle{
  
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px;
}

.imageKid{
  max-width: 750px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageKid img{
 
}

/*paralax*/
.parallaX, .animatesss, .animatesss2{
  max-width: 1440px;
  width: 100%;
  /* The image used */
  
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-y: hidden;
}
.parallaX{
  background-image: url("../Assets/mainBackground.png");
}
.animatesss{
  background-image: url("../Assets/projectsBanner.png");
}
.animatesss2{
  background-image: url("../Assets/katoeMatoe.png");
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallaX, .animatesss{
    background-attachment: scroll;
  }
}
.statS{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.twoSides{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.leftSide1, .leftSide2, .leftSide3, .rightSide1{
  height: 550px;
  box-sizing: border-box;

} 
.rightSide1{
  width: 100%;
  background-image: url(../Assets/a4a.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.leftSide1{
  width: 100%;
  background-image: url(../Assets/a11a.png);
  background-size: cover;
  overflow: hidden;
}
.leftSide2{
  width: 100%;
  background-image: url(../Assets/a2a.png);
  background-size: cover;
 overflow: hidden;

}
.leftSide3{
  width: 100%;
  background-image: url(../Assets/a33.png);
  background-size: cover;
 overflow: hidden;
}
.rightSide1 h1{
  font-size: 80px;
  color: white;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-animation: heartbeat 8.5s ease-in-out infinite both;
  animation: heartbeat 8.5s ease-in-out infinite both;
}
.rightSide1 h3{
  font-size: 35px;
  color: white;
  padding: 15px;
  margin-top: -55px;
}
.twoSideTwo{
  flex-direction: column-reverse;
}
@media  screen and (min-width: 950px) {
  .rightSide1, .leftSide1, .leftSide2, .leftSide3{
    width: 50%;
  }
  .twoSides, .twoSideTwo{
    flex-direction: row-reverse;
    padding: 5px;
  }
 

}


@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
